* {
    box-sizing: border-box;
}


.root {
    width: 200px;
    height: 200px;
    margin: 300px auto;
    border: #ff0202 solid;
    position: relative;
}

.root:hover {
    background: linear-gradient(30deg, rgba(34, 193, 195, 1) 0%, rgb(87, 26, 129) 100%);
    border-radius: 10%;
    transition-duration: 3s;

}

.first_child1 {
    width: 50px;
    height: 50px;
    border: #ff0202 solid;
    position: absolute;
    left: -50px;
    top: -50px;
}

.first_child2 {
    width: 50px;
    height: 50px;
    border: #ff0202 solid;
    position: absolute;
    right: -50px;
    top: -50px;
}

.first_child3 {
    width: 50px;
    height: 50px;
    border: #ff0202 solid;
    position: absolute;
    right: -50px;
    bottom: -50px;
}

.first_child4 {
    width: 50px;
    height: 50px;
    border: #ff0202 solid;
    position: absolute;
    left: -50px;
    bottom: -50px;
}


.second_child1 {
    width: 50px;
    height: 50px;
    border: #ff0202 solid;
    position: absolute;
    right: -50px;
    top: -50px;
}

.second_child2 {
    width: 50px;
    height: 50px;
    border: #ff0202 solid;
    position: absolute;
    left: -50px;
    bottom: -50px;
}

.root:hover :nth-child(even) {
    transition-delay: 1s;
    transition-duration: 2s;
    border-right: 60px solid transparent;
    border-top: 60px solid #fcee00;
    border-left: 60px solid #fff100;
    border-bottom: 60px solid #fff100;
    border-top-left-radius: 60px;
    border-top-right-radius: 60px;
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
    margin: 86px;
}

.root:hover :nth-child(odd) {
    transition-delay: 3s;
    transition-duration: 3s;
    box-shadow: 0 0 0 1em #ff0000,
    0 1em 0 1em red,
    -2.5em 1.5em 0 .5em red,
    2.5em 1.5em 0 .5em red,
    -3em -3em 0 0 red,
    3em -3em 0 0 red,
    -2em -2em 0 0 red,
    2em -2em 0 0 red,
    -3em -1em 0 0 red,
    -2em -1em 0 0 red,
    2em -1em 0 0 red,
    3em -1em 0 0 red,
    -4em 0 0 0 red,
    -3em 0 0 0 red,
    3em 0 0 0 red,
    4em 0 0 0 red,
    -5em 1em 0 0 red,
    -4em 1em 0 0 red,
    4em 1em 0 0 red,
    5em 1em 0 0 red,
    -5em 2em 0 0 red,
    5em 2em 0 0 red,
    -5em 3em 0 0 red,
    -3em 3em 0 0 red,
    3em 3em 0 0 red,
    5em 3em 0 0 red,
    -2em 4em 0 0 red,
    -1em 4em 0 0 red,
    1em 4em 0 0 red,
    2em 4em 0 0 red;
    background: #ff0000;
    width: 1em;
    height: 1em;
    overflow: hidden;
    margin: 20px 20px 30px 15px;
}
